body {
  background-color: #f3e9f1;
  padding-bottom: 50px;
  padding: 0;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.figure {
  margin: 0;
}
.cards {
  border: 4px solid grey;
  padding: 10px 0 0 0;
  box-sizing: border-box;
  border-radius: 30px;
  margin-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
}
.img-cards {
  border-radius: 25px;
  margin: 0;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
}
img:hover {
  cursor: pointer;
}
.navbar {
  margin-bottom: 20px;
  padding: 5px 10px 5px 10px;
}
.nav-onglet {
  width: 250px;
}
.fab {
  width: 50px;
}
.fas {
  width: 50px;
  padding-left: 7px;
}
.nav-item > a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 280px;
}
.card-container > .cards > div > p {
  font-size: 50px;
  margin: 0;
  width: 70%;
  display: flex;
  justify-content: center;
}
.price {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.btn-price {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #ebd6e7;
  border-radius: 25px;
}

@media (min-width: 992px) {
  .navbar > a,
  .navbar > div > ul > li > a,
  .btn-price {
    font-size: 50px;
  }
}
@media (max-width: 992px) {
  .card-container > .cards > div > p {
    font-size: 20px;
  }
}
